.newPublicationForm {
  align-items: center;
  background-color: #efefef;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;

  & .publicationContent {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 40rem;
    padding: 1rem;
    position: relative;
    width: 100%;

    &:has(textarea:focus) {
      outline: 1px solid #000;
    }

    & textarea {
      background-color: transparent;
      border: none;
      max-width: 100%;
      min-width: 100%;
      outline: none;
      padding: 0;
      resize: none;
      width: 100%;
    }

    .contentCharacterCount {
      position: absolute;
      bottom: -1.5rem;
      right: 0.5rem;
      font-size: 0.8rem;
    }
  }
}

.loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
