.newPublicationForm {
  align-items: center;
  background-color: #efefef;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 40rem;
  padding: 1rem;
  width: 100%;

  & .publicationContent {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: calc(1rem - 10px);
    padding: 1rem;
    width: 100%;

    &:has(textarea:focus) {
      outline: 1px solid #000;
    }

    & textarea {
      background-color: transparent;
      border: none;
      max-width: 100%;
      min-width: 100%;
      outline: none;
      padding: 0;
      resize: none;
      width: 100%;
    }

    /* & .originalPost {
      border: 1px solid #ccc;
      border-radius: 10px;
      display: grid;
      grid-template-areas:
        'author publication_date'
        'content content';
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
      padding: 1rem;

      & > .originalPostAuthor {
        font-family: "Bebas Neue", sans-serif;
        font-style: normal;
        font-weight: 400;
        grid-area: author;
        text-transform: uppercase;
      }

      & > .originalPostPublicationDate {
        grid-area: publication_date;
      }

      & > .originalPostContent {
        grid-area: content;
      }
    } */
  }
}
