.sortingOrderSelector {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  & > label {
    align-items: center;
    border: 1px solid #ccc;
    border-radius: calc(1rem - 10px);
    display: flex;
    gap: 0.5rem;
    padding: 0.2rem 1rem;

    &:has(input:checked) {
      accent-color: black;
      background-color: #0b72d9;
      color: white;

      & > input {
        outline: none;
      }
    }
  }
}
