.publicationsList {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-position: inside;
  list-style-type: none;

  &, & > li {
    width: 100%;
  }

  & > li {
    display: flex;
    justify-content: center;
  }
}
