* {
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  min-height: 100vh;
  min-height: 100dvh;
}

body {
  padding: 1rem;
}

button {
  align-items: center;
  display: inline-flex;
  font-weight: bold;
  gap: 0.5rem;
  justify-content: space-evenly;
  transition: ease-in-out 100ms;

  &:hover {
    transform: scale(1.1);
    transition: ease-in-out 100ms;
  }

  &:active {
    transform: scale(0.9);
    transition: linear 100ms;
  }

  &.primary {
    background-color: #339933;
    color: #ffffffdd;
  }

  &.transparent {
    background-color: transparent;
    border: none;

    &:hover {
      background-color: #00000020;
    }
  }

  & > svg {
    height: 1rem;
  }
}

button, select {
  border: 1px solid #333;
  border-radius: calc(1rem - 10px);
  cursor: pointer;
  padding: 0.2rem 1rem;
}

label:has(select) {
  align-items: center;
  display: flex;
  gap: 1rem;
}
