.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-items: center;
  padding: 1rem 0;
}

.newPostForm {
  align-items: flex-end;
  background-color: #efefef;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 40rem;
}

.newPostForm textarea {
  border: 1px solid #ccc;
  border-radius: calc(1rem - 10px);
  height: 10rem;
  max-height: 80vh;
  max-width: 100%;
  min-height: 10rem;
  min-width: 100%;
  padding: 1rem;
  width: 100%;
}

.publicationsList {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-position: inside;
  list-style-type: none;
}

.post {
  border: 1px solid #ccc;
  border-radius: 10px;
  display: grid;
  gap: 1rem;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'author publication_date'
    'post_content post_content';
  padding: 1rem;
  width: 30rem;
}

.postAuthor {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  grid-area: author;
  text-transform: uppercase;
}

.postPublicationDate {
  grid-area: publication_date;
  text-align: right;
}

.postContent {
  grid-area: post_content;
}
